.intro-background {
  display: flex;
  flex-direction: row;
}

.intro-item {
  display: flex;
  flex: 1;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.timeline-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background-color: cornflowerblue;
}

.intro-picture {
  width: 60%;
  height: 90%;
}
